#links{
    background-color: aqua;
    border: 2px solid black;
    height: 150px;
    width: 20%;
    margin-top: 20px;
}
#news{
    height: 150px;
    width: 20%;
}
.top{
    display: flex;
    
}
#inks p{
    line-height: 0%;
}
#text{
    width: 60%;
    padding-left: 30px;
}
#title{
   border-bottom: 2px solid black;
    width: 200px;
}
#cool{
    color: white;
    background-color: blue;
}
